<div class="col-10 offset-1 about">
  <h1>About Splurtit</h1>

  <p>
    Splurtit was built by <a target="_blank" href="http://github.com/yangumi">Angela Leo</a>. This site is dedicated to splurt out quotes and you can add your own too!
  </p>
  <br />

  <div class="row">
    <div class="col-12 col-sm-4">
      <%= image_tag 'me.jpg', class: 'img-fluid' %>
    </div>

    <div class="col-12 col-sm-7 offset-sm-1">
      <h2 class="text-center">Angela Leo</h2>
      <br />
      <p>
        Angela is a SysAdmin by day and Software Engineer by night
      </p>
    </div>
   </div>
   <br class="clear" /> 
   <br />
   <br />
   <br />
   <br />
</div>